@font-face { 
    font-family: "TTYFONT"; 
    src: url('TTYFONT.ttc'); } 
#body {
    margin: 0px;
    background-color: rgba(249, 249, 249);
}
/* ↓ Nav Bar ↓ ----------------------------------------------------------------------------------*/
#navBar {
    position: fixed;
    
    width: 100%;
    height: 60px;
    
    background-color: rgba(255, 255, 255, 0.7);
    
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

        transition: all 0.5s ease;
}
#navTop {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 60px;
}
.navFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
        width: 100%;
    max-width: 1000px;
    
    margin-left: 20px;
    margin-right: 20px;
}
.webLogoFont {
    min-width: 206px;
    font-family: "TTYFONT", 'Roboto', sans-serif;
    font-style: bolder;
    font-weight:500;
    font-size: 18px;
    
    color: rgb(0, 0, 0);
}
#flex2 {
    width: 348px;
    
}
#flex2Font {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    
    color: rgba(84, 84, 84, 1);
}
#dropDownButton {
    height: 30px;
    width: 30px;

    background-color: none;

    display: flex;
    align-items: center;
    justify-content: space-between;

}
#expandedNavBarCon {
    width: 100%;
    height: 140px;
    margin-left: 50px;
}
.expandedNavBarItems {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-30px);
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s linear ;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
    font-weight: 200;
    font-size: 14px;
    color: rgba(84, 84, 84, 1);
    width: 200px;
}
/* ↑ Nav Bar ↑ ----------------------------------------------------------------------------------*/

/* ↓ Version Data ↓ -----------------------------------------------------------------------------*/
.placeHolder {
    width: 100%;
    height: 60px;
}
.versionData {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 1000px;
    margin-bottom: 10px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    
    color: rgba(84, 84, 84, 1);
}
.versionData2 {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 300px;
    margin-bottom: 10px;

    font-family: "TTYFONT", 'Roboto', sans-serif;
    font-style: bolder;
    font-weight:700;
    font-size: 40px;
    
    color: rgb(0, 0, 0);
}
/* ↑ Version Data ↑ -----------------------------------------------------------------------------*/
